/* Sidebar */
.sidebar {
    position: fixed;
    transform: translateX(-30rem);
    transition: all .5s;
    width: 30rem;
    background-color:#203040;
    color: #fff;
    height: 100%;

    &.open {
        transform: translateX(0);
    }

    &__btn-close {
        border-radius: 50%;
        border: .1rem #203040 solid;
        width: 3rem;
        height: 3rem;
        padding: 0.5rem;
        font-size: 1.8rem;
        padding-top: 0;
        cursor: pointer;
        position: absolute;
        right: 0.5rem;
        top: 1.5rem;

        &:focus {
            outline: none;
        }
    }

    h3 {
        margin-left: 1rem;
        margin-top: 3rem;
        margin-bottom: 2rem;
        color: #fff;
    }

    li {
        list-style: none;
        margin-bottom: 1rem;

        a {
            color: #fff;
            font-size: 1.5rem;
            text-decoration: none;

            &:hover {
                color: #ff8000;
            }
        }
    }
  }
