@import "./modules/sidebar";

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font: 1.6rem Helvetica;
  height: 100vh;
  margin: 0;
}

#root {
  height: 100%;
}

a {
  text-decoration: none;
  color: #000;
}

a:hover {
  color: #ff8000;
}

.grid-container {
  display: grid;
  grid-template-areas:
  "header"
  "main"
  "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 5rem;
  height: 100%;
}

.header {
  grid-area: header;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #203040;
  color: #fff;
}

.header__brand button {
  font-size: 3rem;
  padding: .5rem;
  background: none;
  border: none;
  cursor: pointer;
  color: #fff;
}

.header__brand a {
  color: #fff;
  padding-left: 1rem;
  font-size: 2.5rem;
  font-weight: bold;
  text-decoration: none;
}

.header__links a {
  color: #fff;
  padding-right: 1rem;
  text-decoration: none;
}

.header__links a:hover {
  color: #ff8000;
}

.main {
  grid-area: main;
}

.footer {
  grid-area: footer;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #203040;
  color: #fff;
}
