html {
  font-size: 90%;
  box-sizing: border-box;
}

body {
  font: 1.6rem Helvetica;
  height: 100vh;
  margin: 0;
} 

main {
  min-height: 80vh;
}

h4 {
  padding: 1rem 0;
}

.rating span {
  margin-right: 0.2rem;
}