html {
  font-size: 90%;
  box-sizing: border-box;
}

body {
  font: 1.6rem Helvetica;
  height: 100vh;
  margin: 0;
} 

/* .header {
  &__category,
  &__cart,
  &__login {
    text-transform: capitalize;
  }
} */

.brand_title {
  text-transform: capitalize;
}

main {
  min-height: 80vh;
}

h2 {
  padding: 1rem 0;
}

h4 {
  padding: 1rem 0;
}

.rating span {
  margin-right: 0.2rem;
}

.reviews {
  margin-left: 0.25rem;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:#f8f9fa;
  border-top: .1rem rgba(0,0,0,.05) solid;
  color: rgba(0,0,0,.5);
}