<div class="not-found">
  <img class="not-found__img" src="../../assets/404/404.svg" alt="404" />
  <p class="not-found__title">Ошибка 404</p>
  <p class="not-found__desc">Извините, страница не найдена</p>
  <p class="not-found__desc2">Попробуйте ввести другой запрос</p>
  <ul class="not-found__links">
    <li>
      <a class="not-found__link">Посмотреть 1</a>
    </li>
    <li>
      <a class="not-found__link">Посмотреть 2</a>
    </li>
    <li>
      <a class="not-found__link">Посмотреть 3</a>
    </li>
  </ul>
</div>
