.wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  margin-top: 3rem;

  &__card {
    width: 860px;
    height: 340px;

    &__content {
      display: flex;
      justify-content: center;
      align-items: flex-end;
    }
  }
}
