{
  "trailingComma": "es5",
  "tabWidth": 2,
  "useTabs": true,
  "semi": true,
  "singleQuote": true,
  "importOrder": [
    "<THIRD_PARTY_MODULES>",
    "^@/pages/(.*)$",
    "^@/app/(.*)$",
    "^@/features/(.*)$",
    "^@/entities/(.*)$",
    "^@/widgets/(.*)$",
    "^@/processes/(.*)$",
    "^@/assets/(.*)$",
    "^@/shared/(.*)$",
    "^../(.*)",
    "^./(.*)",
    "(.scss)$"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
