<div class="access-denied">
    <img class="access-denied__img" src="../../../assets/404/404.svg" alt="404" />
    <p class="access-denied__title">Ошибка 403</p>
    <p class="access-denied__desc">Доступ запрещен</p>
    <p class="access-denied__desc2">Попробуйте ввести другой запрос</p>
    <ul class="access-denied__links">
        <li>
            <a class="access-denied__link">Посмотреть магазин</a>
        </li>
        <li>
            <a class="access-denied__link">Информационные системы</a>
        </li>
        <li>
            <a class="access-denied__link">Мои закладки</a>
        </li>
    </ul>
</div>

