$color-white: #fff;
$color-grey-c: #ccc;
$color-grey-9: #999;
$color-grey-6: #666;
$color-grey-3: #333;
$color-black: #000;

$color-cyan: #00f5ff;
$color-purple: #8100ef;

$main-gradient: linear-gradient(90deg, $color-cyan -53%, $color-purple 128%);