.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  //flex: 0 0 auto;
  background-color: #f8f9fa;
  border-top: 0.1rem rgba(0, 0, 0, 0.05) solid;
  color: rgba(0, 0, 0, 0.5);
}

.text {
  text-align: center;
  padding-top: 8px;
  padding-bottom: 8px;
}