@import 'src/styles';

.catalog {
  @apply flex-wrap gap-8;
}

.more-tag {
  cursor: pointer;
  color: #337EFF;
  text-decoration: underline #337EFF;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: solid 1px #D6DBE7;
  padding: 10px 3px;
}

th {
  background: transparent;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #20222B;
}

td {
  background: transparent;
  font-size: 14px;
  line-height: 16px;
  color: #20222B;
}

.table-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
}


.active {
  background: #D6E5FF !important;
}

.input__wrapper {
  @apply relative block;

  > input {
    @apply p-2 w-full text-xs rounded-md overflow-hidden block bg-white;
    @include shadow();

    &::placeholder {
      @apply text-gray-400 font-light;
    }

    &:focus-visible {
      outline: none;
    }
  }
}

.select__wrapper {
  > select {
    @include shadow();
  }
}
