.img {
  width: 150px;
  height: 150px;
}

.rating {
  > input {
    @apply text-xs;
  }
}

.w-200 {
  width: 200px;
}

.card-wrapper {
  background: rgba(128, 128, 128, 0.16);
  padding: 10px;
  border-radius: 10px;
  height: 320px;
}

