<div className='animate-scaleIn'>
  <div className='bg-white rounded-xl relative overflow-hidden'>
    <div className='absolute top-2 right-3 z-10'>
    </div>
    <a>
    <img
      class='img'
      [src]='getImageUrl(product.imageUrl)'
      [alt]='product.name'
    />
    </a>
  </div>
  <a>
  <h3 className='mt-2 font-semibold'>{{product.title}}</h3>
  </a>
  <a
    className='text-aqua text-xs mb-2'
  >
  {{product.brand}}
  </a>
  <div className='text-xl font-semibold'>{{product.price}}</div>
</div>
